html{
    font-size: 62.5%; /*Isso aqui representa 10px*/
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    font-size: 1.4rem;
}