/**********\
   PLANOS
\**********/
.pl-tipo{
    position: relative;

    padding: 10px;
    border: 2px solid #4d534d;
    margin-top: 2%;
    font-size: 1.4rem; /*14px Plano principal.*/
}

.pl-tipo--popular::after{
    position: absolute;
    top: -10px;
    left: -10px;

    padding: 2px 8px;

    background-color: #c20303;
    color: #fff;

    font-size: 0.8221em;
    line-height: 2.5;

    content: "MAIS POPULAR";
}

.pl-tipo__cabecalho{
    background-color: #4d534d;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    margin: -10px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 1.7em;
}

.pl-tipo__preco{
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

.pl-tipo__descr{
    list-style: none;
    padding: 0;
    margin: 1.4285em 0;
    font-size: 1em;

}

.pl-tipo__li{
    text-align: center;
}

.pl-tipo__rodape{
    text-align: center;
}


/**********\
   BOTAO
\**********/
.botao{
    display: inline-block;
    background-color: rgb(175, 13, 13);
    color: #fff;
    padding: 0.8em 1.2em;
    text-decoration: none;
    line-height: normal;
    border: none;

    font-size: 1em;
}

.botao:hover, .botao:focus {
    background-color: rgb(59, 112, 52);
    text-decoration: none;
    color: white;
}


.botao--assinar{
    display: inline-block;
    background-color: rgb(175, 13, 13);
}

.botao--assinar:hover, .botao--assinar:focus {
    background-color: rgb(125, 120, 120);
    text-decoration: none;
    color: white;
}

.botao--principal{
    background-color: rgb(175, 13, 13);
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    line-height: 1;
    white-space: nowrap;

    color: white;
    border: none;
    text-shadow: 2px 2px #313131;

    font-size: 1em;

    width: 11em;
    height: 2.5em;
}

.botao--principal:hover, .botao--principal:focus{
    background-color: rgb(107, 103, 103);
    text-decoration: none;
    color: white; 
}

.botao--login{
    display: inline-block;
    background-color: rgb(175, 13, 13);
    color: #fff;
    padding: 0.8em 1.2em;
    text-decoration: none;
    line-height: normal;

    font-size: 1em;
}

.botao--login:hover, .botao--login:focus{
    background-color: rgb(107, 103, 103);
    text-decoration: none;
    color: white;
}

.botao--cadastro{
    background-color: rgb(37, 127, 179);
    text-decoration: none;

    color: white;
    font-size: 1.3em;

    width: 10em;
    height: 2.2em;
}

.botao--cadastro:hover, .botao--cadastro:focus{
    background-color: rgb(16, 74, 107);
    text-decoration: none;
    color: white; 
}

.botao_planos{
    margin-top: 5.5em;
    font-size: 2em;
    text-align: center;
}

/**********\
   CHAMADA
\**********/

.chamada{
    font-size: 1.6rem; /*16px*/ 
    text-align: center;
    background-color: none;
    margin-top: 8em;
}

@media(min-width: 992px){
    .chamada{
        padding-left: 10%;
        padding-right: 10%;

        font-size: 2.2rem;
    }
}

.chamada__titulo{
    margin-top: -3em;

    
    color: rgb(255, 255, 255);

    font-size: 3.375em; /* 54px / 16px = 3.375 - 16px é o tamanho padrão definido pelo rem*/
    line-height: 0.9;
    text-shadow: 1px 2px #313131;
}

.chamada__titulo--strong{
    color: #c20303;

    font-weight: 1;
}



.chamada__paragrafo{
    margin: 60px 0;

    color: #fff;
    font-size: 1.1em;  
}


/**********\
 DEPOIMENTO
\**********/


@media(max-width: 992px){
    .depoimento{
        padding-left: 15%;
        padding-right: 15%;

        font-size: 2.0rem;
    }
}

.depoimento{
    
   font-size: 2.2rem; 
}

.depoimento >blockquote{
    position: relative;
    margin: 0;
    padding: 0 60px;

    text-align: center;
    font-size: 1em;
}

.depoimento >blockquote::before{
    position: absolute;
    left: 0;
    top: -0.35em;

    color: #ccc;

    font-size: 8em;

    content: "\201C";
}

.depoimento-autor{
    margin-top: 40px;

    text-align: center;
    font-size: 0.7272em;
}

.depoimento-autor > img{
    border-radius: 50%;
    border: 4px solid #fff;
}

.depoimento-autor > p{
    margin-top: 10px;

    text-shadow: 1px 1px #313131;
    color: #fff;
}

/**********\
  NAVEGAÇÃO
\**********/

.navegacao{
}

.navegacao__menu{
    float: right;
    
}

.navegacao--assinatura {
    text-align: center;
  }

/*****************\
  BOTÃO CHAVEADOR
\*****************/

.botao-chaveador{
    width: 24px;
    height: 24px;
    border: 0;

    margin-top: 80%;

    background: none;
    background-image: url("../imagens/bars.png");

    outline: none;
}

@media(min-width: 992px){
    .botao-chaveador{
        display: none;
    }
}

/*****************\
    MENU
\*****************/

.menu{ /*Aqui São as configurações do Menu Para Tela Grande.*/
    margin: 0;

    font-size: 1.4rem;

    list-style: none;
}

@media(max-width: 991px){
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    
        padding: 20px;
        width: 200px;
        display: none;

        border-right: 1px solid #eee;
    
        background-color: #fbfbfb;
    }

    .menu--exibindo{
        display: block;
        background-color: grey;
        color: #eee;
        
    }

    .menu__item{

        display: block;
    
        line-height: 3;

        font-size: 1em;
        
    }
    
    .menu__item--botao{
        margin-top: 20px;
    }

    .menu_estilo{
        color: #ccc;
        text-decoration: none;
    }
}

@media(min-width: 992px){
    .menu__item{
        display: inline-block;
        padding-right: 20px;
        margin-top: 10px;

    }

    .menu__item:last-of-type{
        padding-right: 0px;
    }

    
    .menu__item > a{
        font-size: 1em;
    }
}


/**************************\
   TITULO PÁGINA PRINCIPAL
\**************************/

.titulo{
    color: #eee;

    margin-left: 0;
    
    margin-top: -0.4em;
    
    width: 500px;
    height: 45px;

    font-size: 2em;
    color: rgb(254, 251, 251);

    text-align: center;


    white-space: nowrap;
    float: left;

    padding: 20px;
}

/*******************\
  TITULO FORMULARIO
\*******************/

.titulo-formulario{
    margin: 0;
    margin-bottom: 30px;
    margin-top: 1.5em;
    border-bottom: 1px solid #ccc;

    font-size: 2.6rem;
    font-weight: normal;
    color: #004b86;
}


/*******************\
    GRUPO ENTRADA
\*******************/

.grupo-entrada{
    margin-bottom: 15px;
}

.grupo-entrada > label{
    display: block;

    font-weight: bold;
}

/*******************\
        CAMPO
\*******************/

.campo{
    display: block;
    width: 100%;
    height: 2.8em;

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

    font-size: 1.4rem;

}