/**********\
   PLANOS
\**********/
.pl-tipo{
    padding: 10px;
    border: 2px solid #4d534d;
    margin-top: 2%;
    font-size: 1.4rem; /*14px Plano principal.*/
}

.pl-tipo__cabecalho{
    background-color: #4d534d;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    margin: -10px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 2em;
}

.pl-tipo__preco{
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

.pl-tipo__descr{
    list-style: none;
    padding: 0;
    margin: 1.4285em 0;
    font-size: 1em;

}

.pl-tipo__li{
    text-align: center;
}

.pl-tipo__rodape{
    text-align: center;
}


/**********\
   BOTAO
\**********/
.botao{
    display: inline-block;
    background-color: rgb(12, 92, 55);
    color: #fff;
    padding: 0.8em 1.2em;
    text-decoration: none;

    font-size: 1em;
}

.botao:hover, .botao:focus {
    background-color: rgb(59, 112, 52);
    text-decoration: none;
    color: white;
}


.botao--assinar{
    display: inline-block;
    background-color: rgb(12, 92, 55);
}

.botao--assinar:hover, .botao--assinar:focus {
    background-color: rgb(42, 78, 37);
    text-decoration: none;
    color: white;
}

.botao--principal{
    background-color: rgb(12, 67, 139);
    border-radius: 10px;

    text-decoration: none;
    color: white;
}

.botao--principal:hover, .botao--principal:focus{
    background-color: rgb(37, 127, 179);
    text-decoration: none;
    color: white; 
}

/**********\
   CHAMADA
\**********/

.chamada{
    font-size: 1.6rem; /*16px*/ 
    text-align: center;
}

.chamada__titulo{
    margin: 0;

    color: #fff;

    font-size: 3.375em; /* 54px / 16px = 3.375 - 16px é o tamanho padrão definido pelo rem*/
    line-height: 0.9;
    text-shadow: 1px 2px #313131;
}

.chamada__paragrafo{
    margin: 60px 0;

    color: #fff;
    font-size: 1.1em;  
}

.chamada__acao{
    font-size: 1em;
}

@media(min-width: 992px){
    .chamada{
        padding-left: 10%;
        padding-right: 10%;

        font-size: 2.2rem;
    }
}

/**********\
 DEPOIMENTO
\**********/


@media(min-width: 992px){
    .depoimento{
        padding-left: 15%;
        padding-right: 15%;

        font-size: 2.0rem;
    }
}

.depoimento{
   font-size: 2.2rem; 
}

.depoimento >blockquote{
    margin: 0;
    padding: 0 60px;

    text-align: center;
    font-size: 1em;
}

.depoimento-autor{
    margin-top: 40px;

    text-align: center;
    font-size: 0.7272em;
}

.depoimento-autor > img{
    border-radius: 50%;
}

.depoimento-autor > p{
    margin-top: 10px;

    text-shadow: 1px 1px #313131;
    color: #fff;
}