.layout-cabecalho{
    height: 60px;
    
    border-bottom: 2px solid #ccc;

    background-color: #fff;
}

.layout-cabecalho img{
    margin-top: 12px;
}

.layout-cabecalho--home{
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.layout-plano{
    padding: 80px 10px; 
 }

 @media(max-width: 749px){
   .layout-plano .row > div:not(.ultima-coluna){
      margin-bottom: 40px;
   }
}
 
.layout-chamada{
    padding: 80px 0;
    background-color: #7ab55c;
    margin-top: 60px;
}

.layout-depoimento{
    padding: 80px 0;
    background-color: #bbb9b9;  
}

.layout-rodape{
    padding: 40px 0;

    background-color: #484848;

    color: #ccc;
    text-align: center;
}

.layout-assinatura{
    padding: 40px 0;
}