/**********\
  NAVEGAÇÃO
\**********/

.navegacao{
}

.navegacao__menu{
    float: right;
    
}

.navegacao--assinatura {
    text-align: center;
  }

/**************************\
   TITULO PÁGINA PRINCIPAL
\**************************/

.titulo{
    color: #eee;

    margin-right: -2em;
    
    margin-top: -0.2em;
    
    width: 300px;
    height: 45px;

    font-size: 1.5em;
    color: rgb(254, 251, 251);

    text-align: left;


    white-space: nowrap;
    float: left;

    padding: 20px;
}

/*******************\
  TITULO FORMULARIO
\*******************/

.titulo-formulario{
    margin: 0;
    margin-bottom: 30px;
    margin-top: 0.5em;
    border-bottom: none;

    font-size: 2.6rem;
    font-weight: normal;
    color: #fffbfb;
}

.info-formulario{
    margin-top: 1em;
}

.complemento-formulario{
    font-size: 1.3em;
}


/*******************\
    GRUPO ENTRADA
\*******************/

.grupo-entrada{
    margin-bottom: 15px;
}

.grupo-entrada > label{
    display: block;

    font-weight: bold;
}

/*******************\
        CAMPO
\*******************/

.campo{
    display: block;
    width: 100%;
    height: 2.8em;

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

    font-size: 1.4rem;

}