/**********\
 DEPOIMENTO
\**********/


@media(max-width: 992px){
    .depoimento{
        padding-left: 15%;
        padding-right: 15%;

        font-size: 2.0rem;
    }
}

.depoimento{
    
   font-size: 2.2rem; 
   width: 22em;
   height: 26em;
   margin-left: -4em;

   color: #fff;

   text-shadow: 2px 1px #313131;

   background-color: aqua;
}

.depoimento-autor >blockquote{
    position: relative;
    margin: 0;
    bottom: 1.6em;
    right: 0;
    padding: 0 60px;

    text-align: center;
    white-space: nowrap;
    font-size: 2em;


    border: 1px solid red;
    
}

.depoimento >blockquote::before{
    position: absolute;
    left: 0;
    top: -0.35em;

    color: #ccc;

    font-size: 8em;

}

.depoimento-autor{
    margin-top: 40px;

    text-align: center;
    font-size: 0.7272em;

    border: 2px solid white;
}

.depoimento-autor > img{
    border-radius: 5%;

    margin-top: -3em;
}

.desc-mini{
    background-color: none;
    margin-top: 0;

    color: #fff;
    font-size: 1em;
    text-shadow: 2px 2px rgb(0, 0, 0);


    border-radius: 10px;
    
}

.desc-mini > ul > li{
    font-size: 1.5em;
    white-space: pre-wrap;

    color: #fff;
    list-style: none;
    text-shadow: none;
    text-align: right;

    text-shadow: 1px 3px #313131;
}

.titulo_mini{
    text-align: right;
    font-size: 1.8em;
}

@media(max-width: 992px){
    .desc-mini{
        background-color: #313131;
        margin-top: 0;
    
        color: #fff;
        font-size: 1em;
        text-shadow: 2px 2px rgb(0, 0, 0);
        
       
        padding-bottom: 0.1em;
    
        border-radius: 10px;
        
    }
    
    .desc-mini > ul > li{
        font-size: 1.5em;
        white-space: pre-wrap;
    
        color: #fff;
        list-style: none;
        text-shadow: none;
        text-align: center;
    
        text-shadow: 1px 3px #313131;
    }
    
    .titulo_mini{
        text-align: center;
        font-size: 1.8em;
    }
}