/**********\
   PLANOS
\**********/

.pl-tipo{
    position: relative;


    padding: 10px;
    border: 2px solid #4d534d;
    border-radius: 7px;
    margin-top: 2%;
    font-size: 1.4rem; /*14px Plano principal.*/
}

.pl-tipo__mini{
    
    border: none;
    margin-top: 0;
    padding: 1em;

    background-color: rgb(51, 51, 51);

    border-radius: 10px;
    box-shadow: 3px 5px 8px 5px rgb(88, 84, 84);
}

.pl-tipo--popular::after{
    position: absolute;
    top: -10px;
    left: -10px;

    padding: 2px 8px;

    background-color: #c20303;
    color: #fff;


    font-size: 0.8221em;
    line-height: 2.5;

    content: "MAIS POPULAR";
}

.pl-tipo__cabecalho{
    background-color: #4d534d;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    margin: -10px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 1.7em;
}

.pl-tipo__cabecalho__mini{
    background-color: #aa2323;

    border-radius: 10px;
}

.pl-tipo__preco{
    text-align: center;
    font-size: 2em;
    margin: 20px 0;


}

.pl-tipo__descr{
    list-style: none;
    padding: 0;
    margin: 1.4285em 0;
    font-size: 1em;

}

.pl-tipo__mini{
    color: #fff;

    text-align: center;

    line-height: 0.9;

    gap: 30%;
}

.pl-tipo__li{
    text-align: center;
}

.pl-tipo__rodape{
    text-align: center;
}

.pl-tipo__rodape__mini{
    margin-top: 10%;
    text-align: center;
}


.pl-tipo__img{

    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.pl-tipo__img > img {
    width: 100%;

    border-radius: 10px;

    -webkit-filter: drop-shadow(0px 10px 20px rgba(122, 120, 120, 0.9)); 
    filter: drop-shadow(0px 0px 20px rgba(56, 55, 55, 0.9));
}